@import url(https://fonts.googleapis.com/css?family=Montserrat);
html,
body {
    margin: 0;
    padding: 0;
}

html {
    background: #FF4E50;
    background: -webkit-linear-gradient(right, #FF4E50, #F9D423);
    background: linear-gradient(to left, #FF4E50, #F9D423);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title {
    left: 10px;
    right: 0;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 160px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.title a {
    color: #fff;
    text-transform: none;
    text-decoration: none;
    font-size: 150px;
    letter-spacing: 0;
    white-space: pre-wrap;
}