@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    background: #FF4E50;
    background: -webkit-linear-gradient(right, #FF4E50, #F9D423);
    background: linear-gradient(to left, #FF4E50, #F9D423);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title {
    padding-left: 50px;
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
    font-size: 80px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    white-space: pre-line;
}

.front {
    padding-top: 17%;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-size: 80px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    white-space: pre-line;
}